/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ECE3CE;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo img {
    max-height: 100%;
    height: 45px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border-radius: 10px;
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
} */

/* Header */
header {
    width: 100%;
    height: 70px;
    position: relative;
}

#Web-name {
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    background-color: #3A4D39;
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li a {
    background-color: #3A4D39;
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0 10px;
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    border-radius: 2px;
    background-color: #edb124;
    color: #ffdb85;
    box-shadow: 2px 2px 20px #f7af05;
}

nav .navbar-toggle {
    display: none;
}

/* Main Body styles */
/* .profilePic {
    
} */
.main-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex: 1;
}
#editBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4F6F52;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#editBtn:hover{
    background-color: #3A4D39;
    color: #fff;
}

#editBtn:active{
    background-color: #2f3d2e;
    color: #fff;
}

.btn {
    background-color: #4F6F52;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.btn:hover {
    background-color: #3A4D39;
    color: #fff;
}

.btn:active {
    background-color: #2f3d2e;
    color: #fff;
}

.profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #333;
}

#generalInfoList li{
    padding: 5px 0 5px 0;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.rightContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_btn{
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4F6F52;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 120px;
    height: 60px;
}

.main_btn:hover{
    background-color: #3A4D39;
    color: #fff;
}

.main_btn:active{
    background-color: #2f3d2e;
    color: #fff;
}

/* Footer */
footer {
    padding: 25px 0;
    background-color: #3A4D39;
    margin-top: 50px;
}

.footer-list {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: right;
}

.footer-list a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

.footer-list li {
    display: inline-block;
    padding: 0 15px;
}

/****Responsive****/

@media (max-width:992px) {

    /*navbar*/
    nav {
        justify-content: space-between;
        height: 65px;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #fff;
        border-bottom: none;
        width: 100%;
    }

    .navbar li {
        width: 100%;
    }

    .navbar li a {
        width: 100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid #4F6F52;
        background-color: #4F6F52;
        color: #fff;
    }

    .navbar-icon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    .hamburger {
        background-color: #fff;
        display: block;
        height: 2px;
        position: relative;
        transition: 0.2s ease-out;
        width: 18px;
    }

    .navbar-icon .hamburger:before,
    .navbar-icon .hamburger::after {
        background: #fff;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.3s;
        width: 100%;
    }

    .navbar-icon .hamburger:before {
        top: 5px;
    }

    .navbar-icon .hamburger:after {
        top: -5px;
    }

    .navbar-toggle:checked~.navbar-icon .hamburger {
        background: transparent;
    }

    .navbar-toggle:checked~.navbar-icon .hamburger:before {
        transform: rotate(-45deg);
        top: 0;
    }

    .navbar-toggle:checked~.navbar-icon .hamburger:after {
        transform: rotate(45deg);
        top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-toggle:checked~.navbar {
        display: block;
    }

    /* footer */
    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-list li {
        padding: 5px 15px;
    }
}