* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#Logo {
    mix-blend-mode: normal;
    height: 35px;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: 30s ease-out;
}

/* Carousel start*/
section {
	padding:5rem 9%;
}

.home .row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:1.5rem;
}

.home .row .content{
	flex:1 1 42rem;
}

.home .row .books-slider{
	flex:1 1 42rem;
	text-align: center;
	margin-top: 2rem;
}

.home .row .books-slider a img{
	height: 22rem;
}

.home .row .books-slider a:hover img{
	transform: scale(.9);
}

.home .row .books-slider .stand{
	width: 100%;
	margin-top: 0.2rem ;
}

.home .row .content h3{
	color:black;
	font-size: 4.5rem;
}

.home .row .content p{
	color:lightslategray;
	font-size: 1.5rem;
	line-height: 2;
	padding: 1rem 0;
}

.home .row .content h3{
	font-size: 3.5rem;
}

/*Carousel end*/

/*Featured books start*/
.featured .row .title h3{
	font-size: 3.5rem;
	text-align: center;
	background: #3A4D39;
	width: 100%;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.featured .row .books-sliderfeatured a img{
	height: 24rem;
}

@media (max-width:991px){
	section{
		padding: 3rem 2rem;
	}
}
