* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#Logo {
    mix-blend-mode: normal;
    height: 35px;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: 30s ease-out;
}

/* Carousel start*/

section {
	padding:5rem 9%;
}

.home{
	/*background: url(..image/banner-bg.jpg) no-repeat;*/
	background-size: cover;
	background-position: center;
}

.home .row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:1.5rem;
}

.home .row .content{
	flex:1 1 42rem;
}

.home .row .books-slider{
	flex:1 1 42rem;
	text-align: center;
	margin-top: 2rem;
}

.home .row .books-slider a img{
	height: 25rem;
}

.home .row .books-slider a:hover img{
	transform: scale(.9);
}

.home .row .books-slider .stand{
	width: 100%;
	margin-top: -2rem ;
}

.home .row .content h3{
	color:var(--black);
	font-size: 4.5rem;
}

.home .row .content p{
	color:var(--light-color);
	font-size: 1.5rem;
	line-height: 2;
	padding: 1rem 0;
}

.home .row .content h3{
	font-size: 3.5rem;
}

@media (max-width:991px){
	section{
		padding: 3rem 2rem;
	}
}

/*
.categories__item {
	height: 270px;
	position: relative;
}

.categories__item h5 {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0 20px;
	bottom: 20px;
	text-align: center;
}

.categories__item h5 a {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 12px 0 10px;
	background: #ffffff;
	display: block;
}

.categories__slider .col-lg-3 {
	max-width: 100%;
}

.categories__slider.owl-carousel .owl-nav button {
	font-size: 18px;
	color: #1c1c1c;
	height: 70px;
	width: 30px;
	line-height: 70px;
	text-align: center;
	border: 1px solid #ebebeb;
	position: absolute;
	left: -35px;
	top: 50%;
	-webkit-transform: translateY(-35px);
	background: #ffffff;
}

.categories__slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -35px;
} */