/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all .1s linear;
    outline: none;
    border: none;
}

:root {
    --green: #4F6F52;
    --dark-color: #3A4D39;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background: #fff;
    width: 100%;
}

section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-height: 100%;
    height: 45px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* Header */
.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    font-size: x-large;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.header {
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.header .header-1 {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--green);
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--green);
}

#search-btn {
    display: none;
}

.header .header-2 {
    background: var(--green);
}

.header .header-2 .navbar {
    text-align: center;
}

.header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-color);
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar {
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background: var(--dark-color);
}

/* search bar */
.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

#search-btn {
    display: none;
}

/* body */
.main-part {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 70vh;
    align-items: baseline;
    margin: 0;
    padding: 3rem;
    flex-wrap: wrap;
}

.page-name {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--black);
    margin-bottom: 2rem;
    align-self: flex-start;
}

/* toprow */
#top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25vh;
}

.top-box{
    width: 20%;
    height: 100%;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.box-label-container {
    height: 40%;
}

.content-container {
    padding: 1rem;
    height: 100%;
}

.label {
    font-size: 1.5rem;
}

.number {
    font-size: 2.5rem;
}

.box-content {
    height: 60%;
    width: 100%;
}

#box-1 {
    background-color: #4D4139;
    color: #f2f2f2;
}

#box-2 {
    background-color: #3B394D;
    color: #f2f2f2;
}

#box-3 {
    background-color: #78A275;
    color: #f2f2f2;
}

#box-4 {
    background-color: #CC9872;
    color: #f2f2f2;
}

/* bottom-row */
#bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding-top: 2rem;
}

.bottom-box{
    height: 100%;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    overflow: auto;
}

.styled-table th,
.styled-table td {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.styled-table th {
    background-color: #4F6F52;
    color: #fff;
}

.styled-table tbody tr:hover {
    background-color: #f5f5f5;
}

.styled-table tbody td:last-child {
    text-align: center;
}

.styled-table tbody td:nth-child(3) ul {
    list-style-type: circle;
}

.bottom-box .content-container {
    padding: 2.5rem;
    height: 100%;
}

.bottom-box .content-container .box-label-container {
    height: 17%;
}

.bottom-box .content-container .box-content {
    height: 83%;
}

#left-box{
    width: 60%;
    height: 100%;
}

#right-box{
    width: 30%;
    height: 100%;
}

/* Footer */
footer {
    background-color: #fff;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box .map {
    width: 100%;
}

.footer .share {
    padding: 1rem 0;
    text-align: center;
}

.footer .credit {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
    /* padding-bottom: 10rem; */
}

.footer .credit span {
    color: var(--green);
}

/****Responsive****/

@media (max-width:992px) {
    html {
        font-size: 55%;
    }

    /* footer */
    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-list li {
        padding: 5px 15px;
    }
}

@media (max-width:768px) {
    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    /* header */
    #search-btn {
        display: inline-block;
    }

    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active {
        top: 115%;
    }

    .header .header-2 {
        display: none;
    }

    .bottom-navbar {
        display: block;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 280px) {
    #Web-name {
        visibility: hidden;
        display: none;
    }
}

@media (max-width:768px) {

    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    .header .header-2 {
        display: none;
    }

    .bottom-navbar {
        display: block;
    }

    #search-btn {
        display: inline-block;
    }

    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active {
        top: 115%;
    }
}