/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
}

:root {
    --green: #4F6F52;
    --dark-color: #3A4D39;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background: #ddd;
}

.logo img {
    max-height: 100%;
    height: 45px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border-radius: 10px;
}

/* Header */
.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    font-size: x-large;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.header {
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.header .header-1 {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--green);
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* search bar */
.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

#search-btn {
    display: none;
}

/* Main Body styles */
.main-part {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 50px; */
    flex: 1;
}

#editBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4F6F52;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#editBtn:hover {
    background-color: #3A4D39;
    color: #fff;
}

#editBtn:active {
    background-color: #2f3d2e;
    color: #fff;
}

.btn {
    background-color: #4F6F52;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.btn:hover {
    background-color: #3A4D39;
    color: #fff;
}

.btn:active {
    background-color: #2f3d2e;
    color: #fff;
}

.profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #333;
}

/* general info box */
.generalInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 20rem;
}

#generalInfoList {
    display: flex;
    flex-direction: column;
}

#generalInfoList li {
    padding: 5px 0 5px 0;
    font-size: 14.5px;
}

.leftContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding: 10px;
    border-radius: 5px 0 5px 5px;
    /* box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, .1); */
    /* margin-right: 3rem; */
    height: 50vh;
    background-color: #fff;
}

.text-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* different tab content */
.tab-content {
    display: none;
}

.active {
    display: block;
}

.tab-content.tab1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tab-content.tab2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-content.tab3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    overflow: auto;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.styled-table th {
    background-color: #4F6F52;
    color: #fff;
}

.styled-table tbody tr:hover {
    background-color: #f5f5f5;
}

.styled-table tbody td:last-child {
    text-align: center;
}

.tab-content.tab4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* horizontal navbar */
.rightContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, .1); */
    margin-right: 3rem;
    height: 50vh;
    background-color: #ddd;
}

/* button styling */
.verticalNavItems {
    background-color: #ddd;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.verticalNavItems a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 1rem;
}

.active1{
    background-color: #4F6F52;
}


/* Footer */
footer {
    padding: 25px 0;
    background-color: #3A4D39;
    margin-top: 50px;
}

.footer-list {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: right;
}

.footer-list a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

.footer-list li {
    display: inline-block;
    padding: 0 15px;
}

/****Responsive****/

@media (max-width:992px) {
    html {
        font-size: 55%;
    }

    /* footer */
    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-list li {
        padding: 5px 15px;
    }
}

@media (max-width:768px) {

    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    /* header */
    #search-btn {
        display: inline-block;
    }

    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active {
        top: 115%;
    }

    .leftContainer {
        margin: 0 3rem 0 3rem;
        padding: 20px 10px 20px 10px;
        width: 80%;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .deal .image img {
        width: 75%;
    }

    .main-part {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rightContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main_btn {
        margin-top: 50px;
        padding: 2rem 1rem 2rem 1rem;
        border-radius: 5px;
        background-color: #4F6F52;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        width: 15rem;
        height: 9rem;
        font-size: 15px;
    }

    #btn_1 {
        margin-bottom: 0;
        /* Align at the top */
    }

    #btn_3 {
        margin-top: 50px;
    }

}

@media (max-width: 280px) {
    .rightContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main_btn {
        margin-top: 50px;
        padding: 10px;
        border-radius: 5px;
        background-color: #4F6F52;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        width: 120px;
        height: 60px;
    }

    #Web-name {
        visibility: hidden;
        display: none;
    }
}