<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playbook Online Library</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/material/favicon-removebg-preview1.png">
</head>

<body>
    <!-- header section starts  -->

    <header class="header">

        <section class="header-1">

            <a href="/" class="logo"> <i class="fas fa-play"></i> playbook </a>

            <form action="/searchResult" method="get" class="search-form">
                <input type="search" name="query" placeholder="search here..." id="search-box">
                <label for="search-box" class="fas fa-search" id="search-icon"></label>
                <input type="submit" style="display: none;">
            </form>

            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <% if (user) { %>
                    <a href="/wishlist" class="fas fa-heart"></a>
                    <a href="/userReservations" class="fas fa-list"></a>
                    <a href="/myAccount" class="fas fa-user"></a>
                <%} else { %>
                    <a href="/login" class="fas fa-heart"></a>
                    <a href="/login" class="fas fa-list"></a>
                    <a href="/login" class="fas fa-user"></a>
                <% } %>
            </div>

        </section>

    </header>

    <form class="">
        <h2>Add Author</h2>
        <lable for="name">Name</lable>
        <input type="text" name="name" />
        <div class="name error"></div>

        <button>Add</button>
    </form>

<!-- footer section starts  -->

<section class="footer">

    <div class="credit">
        created by <span>Group 2</span> | all rights reserved!
    </div>
</section>

<!-- footer section ends -->

<!-- loader  -->

<!-- <div class="loader-container">
    <img src="/images/material/loader.gif" alt="" />
</div> -->

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="/js/script.js"></script>
</body>

<script>
    // Thows Error and notification for Adding content.
    const form = document.querySelector('form');
    const nameError = document.querySelector('.name.error');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const name = form.name.value;

        try {
            const res = await fetch('/author', {
                method: 'POST',
                body: JSON.stringify({ name }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                nameError.textContent = data.errors.name;
            }
            else {
                nameError.textContent = ('Added successfully');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>

<script>
    // Get the search icon and form elements
    const searchIcon = document.getElementById('search-icon');
    const searchForm = document.querySelector('.search-form');

    // Add a click event listener to the search icon
    searchIcon.addEventListener('click', function() {
        // Submit the form when the search icon is clicked
        searchForm.submit();
    });
</script>