<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/Login.css">
    <title>Playbook Online Library Signin</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/material/favicon-removebg-preview1.png">
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="sign_up">
                <h1>Create Account</h1>
                <input type="text" name="fullName" id="fullName" placeholder="Name" required>
                <div class="fullName error"></div>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <div class="email error"></div>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <div class="password error"></div>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" required>
                <div class="confirmPassword error"></div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form id="sign_in">
                <h1>Sign In</h1>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <div class="email error"></div>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <div class="password error"></div>
                <a href="#">Forget Your Password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use Playbook!</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use Playbook!</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/login.js"></script>
    <script> 
        const sign_up = document.querySelector('#sign_up');
        const sign_in = document.querySelector('#sign_in');
    
        sign_up.addEventListener('submit', async (e) => {
            e.preventDefault();

            // Get the values from the form inputs
            const fullName = sign_up.fullName.value;
            const email = sign_up.email.value;
            const password = sign_up.password.value;
            const confirmPassword = sign_up.confirmPassword.value;

            if (password !== confirmPassword) {
                alert('Passwords do not match');
                return;
            }
            try {
                const res = await fetch('/signup', {
                    method: "POST",
                    body: JSON.stringify({ fullName, email, password }),
                    headers: { 'Content-Type': 'application/json' }
                });

                const data = await res.json();

                if (data.error) {
                    let errorMessage = '';
                    if (data.error.includes('E11000 duplicate key error')) {
                        errorMessage += 'This email is already registered';
                    }
                    if (data.error.includes('Minimum password length is 6 characters')) {
                        errorMessage += 'Password must be at least 6 characters';
                    }
                    alert(errorMessage);
                } else if (data.user) {  
                    location.assign('/');
                }

            } catch (err) {
            console.log(err);
            }
        });
    
        sign_in.addEventListener('submit', async (e) => {
            e.preventDefault();
    
            // Get the value
            const email = sign_in.email.value;
            const password = sign_in.password.value;
    
            try {
                const res = await fetch('/login', {
                    method: "POST",
                    body: JSON.stringify({ email, password }),
                    headers: { 'Content-Type': 'application/json' }
                });
    
                const data = await res.json();
                if (!data) {
                    throw new Error('No response data');
                }
                if (data.error) {
                    let errorMessage = '';

                if (data.error.email || data.error.password) {
                    errorMessage += 'Invalid email or password';
                }

                alert(errorMessage);
                }
                if (data.user) {  
                    location.assign('/');
                }
            } catch (err) {
            console.log(err);
            alert(err)
            }
        });
    </script>
</body>

</html>